In [1]:
# Откройте Anaconda Prompt и выполните следующию команду (команду также можно выполнить из ячейки Jupyter),
_pip install psycopg2,
# (для MacOS):
_pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /anaconda3/lib/python3.7/site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Создаем соединение c базой данных (ВНИМАНИЕ! Ваши данные для подключения с БД могут отличаться от данного примера)
import psycopg2 # драйвер для postgresql
import getpass  # прячем пароль, чтобы не писать его в параметрах

conn=psycopg2.connect(user = 'postgres',
                     database = 'postgres',
                     host = 'localhost',
                     port = '5432',
                     password = getpass.getpass('Insert password: ')
                     )
print(conn.get_dsn_parameters())

Insert password: ········
{'user': 'postgres', 'dbname': 'postgres', 'host': 'localhost', 'port': '5433', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [14]:
# Получение данных, необходимых для пункта 3 из БД с помощью pandas. Для удобства просортируем данные сначала по id компании (comp_id), потом по дате (date)
import pandas as pd
query="SELECT comp_id, grade, date FROM ratings ORDER BY comp_id, date"
# Обратите внимание, что специальные символы Python в текстовых переменных следует отделять символом \,
# чтобы те воспринимались как обычный текст.
data = pd.read_sql_query(query, conn)
data

       comp_id     grade        date
0            1         A  2008-11-16
1            1         A  2010-07-12
2            1         A  2011-10-18
3            1         A  2011-10-27
4            1         A  2011-12-09
5            1        A+  2013-02-25
6            1        A+  2014-03-26
7            1        A+  2015-03-05
8            1         A  2015-09-02
9            1        B+  2015-10-06
10           1       C++  2015-12-03
11           2        A+  2014-05-29
12           2        A+  2015-07-06
13           2      Снят  2016-05-26
14           3       A-2  2013-01-16
15           3        A-  2013-01-16
16           3       A-2  2013-09-17
17           3        A-  2013-09-17
18           3        A2  2014-02-04
19           3   Prime-1  2014-02-04
20           3       A-2  2014-08-22
21           3        A-  2014-08-22
22           3        A2  2015-03-19
23           3   Prime-1  2015-03-19
24           3        A2  2015-03-19
25           3        A-  2015-07-10
26           3       A-2  2015-07-10
27           4       ba1  2005-11-24
28           4       A-1  2006-01-02
29           4       A-1  2006-01-02
...        ...       ...         ...
38222     2048        BB  2011-11-17
38223     2048         B  2011-11-17
38224     2048        BB  2012-11-15
38225     2048         B  2012-11-15
38226     2048        BB  2012-11-15
38227     2048  AA-(rus)  2012-11-15
38228     2048  AA-(rus)  2013-11-11
38229     2048        BB  2013-11-11
38230     2048         B  2013-11-11
38231     2048        BB  2013-11-11
38232     2048         B  2014-04-25
38233     2048        BB  2014-04-25
38234     2048        BB  2014-04-25
38235     2048  AA-(rus)  2014-04-25
38236     2048  AA-(rus)  2014-10-24
38237     2048         B  2014-10-24
38238     2048        BB  2014-10-24
38239     2048        BB  2014-10-24
38240     2048         B  2015-04-17
38241     2048        BB  2015-04-17
38242     2048        BB  2015-04-17
38243     2048  AA-(rus)  2015-04-17
38244     2048         B  2015-10-16
38245     2048        BB  2015-10-16
38246     2048  AA-(rus)  2015-10-16
38247     2048        BB  2015-10-16
38248     2048        BB  2016-04-08
38249     2048        BB  2016-04-08
38250     2048         B  2016-04-08
38251     2048  AA-(rus)  2016-04-08

[38252 rows x 3 columns]